
body {
	font-family: Arial, "Times New Roman";
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

/*h1, h2, h3, h4, h5 {
	font-weight: normal;
}*/

#outer-top {
	display: flex;
	width: 100%;
	overflow: auto;
	padding-bottom: 10px;
	transform: skew(0deg);
}

#outer-bot {
	display: flex;
	padding-top: 10px;
}

#outer-center {
	overflow: auto;
	height: calc(100% - 500px);
}


.inner {

}

.content {
	padding: 5px 15px;
}


.flex {
	display: flex;
}

.block {
	display: block;
}


.title {
	padding-top: 0px;
	font-size: 6em;
}

.vice {
	font-size: 4em;
	padding-bottom: 5px;
}

.hide {
	font-size: 4em;
	padding: 1em;
	background-color: white;
}

.text {
	display: block;
	padding: 10px;
	font-size: 3.5em;
	overflow: auto;
	background-color: #fff;
}

.cell {
	flex: 10;
	margin: 3px;
	padding: 5px 15px;
	font-size: 3.5em;
	background-color: #fff;
}

.button, .button-red, .button-green {
	flex: 50;
	margin: 5px 10px;
	padding: 15px;
	color: white;
	font-size: 5em;
	border: solid 6px white;
	border-radius: 20px;
	background-color: blue;
}

.button-red {
	background-color: red;
}

.button-green {
	background-color: green;
}

.button-min {
	flex: 10;
	margin: 10px 10px;
	padding: 15px;
	color: white;
	font-size: 4em;
	border: solid 6px white;
	border-radius: 20px;
	background-color: indigo;
}


.button-top {
	flex: 10;
	margin: 0px;
	padding: 20px;
	font-size: 4em;
	color: dodgerblue;
	background-color: #eee;
	text-decoration: none;
}

.button-bot-dead {
	flex: 10;
	margin: 0px;
	padding: 20px;
	font-size: 4em;
	color: darkorange;
	background-color: #eee;
	text-decoration: none;
}

.button-bot-live {
	flex: 10;
	height: 64px;
	margin: 0px;
	padding: 20px;
	font-size: 4em;
	color: white;
	background-color: darkorange;
	text-decoration: none;
}


.blk-tag {
  display: none;
  margin: 0px 5px;
}

.blk-desc {
  display: none;
  text-align: left;
  padding: 10px;
  font-size: 3.5em;
  font-weight: normal;
  max-height: 9999px;
}

.blk-button {
  display: none;
  margin: 0px 5px;
  padding-bottom: 10px;
}

.user-flex {
	display: flex;
}

.user-line {
	margin: 5px 0px;
	background-color: white;
}

.user-top {
	display: flex;
	padding: 10px;
	margin-bottom: -20px;
	font-size: 3.6em;
}

.user-order {
	flex: 100;
	margin: 0px 10px;
	font-size: 1.4em;
	text-align: left;
}

.user-value {
	text-align: right;
	padding-top: 10px;
}

.user-idx {
	position: absolute;
	margin: 20px;
	font-size: 10em;
}

.user-head {
	margin: 15px;
	width: 150px;
	height: 150px;
	font-size: 5em;
	margin-right: 10px;
}

.user-left {
	flex: 100;
	margin: 10px;
	text-align: left;
	display: block;
}

.user-right {
	margin: 10px;
	text-align: right;
	display: block;
}

.user-name, 
.user-ladd {
	margin: 5px 10px;
	height: 70px;
	font-size: 4.2em;
	overflow: hidden;
}

.user-mark,
.user-nexu {
	display: block;
	margin: 5px 10px;
	padding: 5px 15px;
	font-size: 3em;
	font-weight: normal;
	border: solid 3px white;
	border-radius: 10px;
}


.user-tag {
	flex: 33;
	margin: 10px 15px;
	padding: 15px;
	color: white;
	font-size: 3.3em;
	border-radius: 10px;
	background-color: #6aa;
}

#alert {
	display: none;
}

#alert-bg {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #222;
	opacity: 0.90;
}

#alert-box {
	display: block;
	position: absolute;
	border: solid 8px #fff;
	border-radius: 30px;
}


.alert-flex {
	display: flex;
	margin: 5px 0px;
	text-align: center;
}

.alert-title,
#alert-title {
	margin: 10px 0px;
	width: 100%;
	font-size: 5em;
}

.alert-text,
#alert-text {
	margin: 20px 0px 20px 20%;
	font-size: 6em;
}

#alert-block,
#detail-block {
    overflow: auto;
    padding: 0px 10px;
    min-height: 550px;
    max-height: 1234px;
    font-size: 1em;
}


#detail-title, 
#puzzle-title, 
#result-title {
	margin: 10px 0px;
	width: 100%;
	font-size: 5em;
	/*color: white;*/
}

.chat-left {
	display: flex;
	margin: 30px 20px;
	margin-right: 100px;
	text-align: left;
}


.chat-right {
	display: flex;
	margin: 30px 20px;
	margin-left: 100px;
	justify-content: flex-end;
	text-align: left;
}

.text-left {
	color: white;
	padding: 20px;
	font-size: 3.5em;
	font-weight: normal;
	border-radius: 20px;
	background-color: dodgerblue;
}

.text-right {
	color: white;
	padding: 20px;
	font-size: 3.5em;
	font-weight: normal;
	border-radius: 20px;
	background-color: darkorange;
}

.space10 {
	height: 10px;
	background-color: white;
}

.space20 {
	height: 20px;
	background-color: white;
}
